<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'category' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<p>
			<strong>Category Name:</strong><br>
			<%= @category.name %>
		</p>

		<p>
			<strong>Articles:</strong><br>
		</p>

		<ul>
			<% @articles = Article.all %>
				<% @articles.each do |article| %>
					<% if article.category == @category.name %>
						<li><%= link_to article.title, article_path(article) %></li>
					<% end %>
				<% end %>
		</ul>

		

		<table>
			<tr>
			<td><%= link_to 'Edit', edit_category_path(@category) %></td>

            <td><%= link_to 'Destroy', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= link_to 'Back', category_index_path %></td>
		</tr>
	</table>
	  </section>
	  <footer>
	  </footer>
</div>

