<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'category' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<h1>Edit article</h1>

		<%= render 'form' %>
		<%= link_to 'Back', articles_path %>
	  </section>
	  <footer>
	  </footer>
</div>

