<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'category' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<h2>All articles...</h2>
	  <table>
		<tr>
			<th>Title</th>
			<th>Time</th>
			<th>Category</th>
			<th>Summary</th>
			
		</tr>

		<% @articles.each do |article| %>
		<tr>
			<td><%= link_to article.title, article_path(article) %></td>
			<td><%= article.create_at %></td>
			<td><%= article.category %></td>
			<td><%= truncate(strip_tags(article.text), length: 10) %></td>
		</tr>
		
		<% end %>
	  </table>

	  <%= link_to 'New', new_article_path(@article) %>
	  

	  

	  </section>
	  <footer>
	  </footer>
</div>