<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'categories' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<p>
			<strong>Title:</strong><br>
			<%= @article.title %>
		</p>

		<p>
			<strong>Time:</strong><br>
			<%= @article.create_at %>
		</p>

		<p>
			<strong>Category:</strong><br>
			<%= @article.category %>
		</p>

		<p>
			<strong>Text:</strong><br>
			<%= simple_format(@article.text) %>
		</p>

		<table>
			<tr>
				<td><%= link_to 'Edit', edit_article_path(@article) %> </td>
				<td><%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= link_to 'Back', articles_path %></td>
			</tr>
		</table>

		<h2>Comments</h2>
		<%= render @article.comments %>

		<h2>Add a comment:</h2>
		<%= render 'comments/form' %>

	  </section>
	  <footer>
	  </footer>
</div>

