<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'categories' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<h2>About me...</h2>
	  	<%= link_to image_tag("iris.jpg", :class => "pic"), image_path("iris.jpg") %>
	  	<p>这是 2018 年 1 月 10 日早晨在纽约中央公园拍摄的，当时纽约的大雪还没有化，我与小伙伴正打算去大都会看展览。选这张照片的原因是，虽然我时常陷入情绪化中无法自拔，但是大部分时候我其实都是笑的很开心的一个人，也很容易被生活中一些很小的事情打动，认真地对待生活。</p>

	  	<p>言归正传，这是一篇简短的自我介绍。</p>

	  	<p>这个世界上有很多事情可以去尝试，有很多种人可以去成为，但是一旦你做出了选择，就应该一直坚持下去。我想要坚持成为的是工程师，咖啡师和作家。</p>

	  	<h3>计算机</h3>
	  	<p>真正接触编程是在大学，然而真正喜欢并且想从事这个行业是在大学毕业以后在北京工作的那一年里。能够做好研发工作的人，具有一种神奇的魔力，能够看清事情的本质，具有耐心和恒心，自律的同时也很享受学习和钻研新事物。这些都是我想要拥有，并且在不断实践提高的特质。我们常常会被一些很快获得快乐的东西所诱惑，但其实需要漫长时间学习和挑战才能获得的成就感是更多的。学习和从事计算机行业让我逐渐改掉急功近利的坏习惯，也让我更加努力和坚持，不轻言放弃。</p>

	  	<h3>咖啡</h3>
	  	<p>很小的时候就梦想开一家咖啡馆，但其实来到美国我才真正开始爱上咖啡，可能是因为星巴克变得很便宜，以及各种咖啡馆人很少又有免费 Wifi，又加上自己买了一套手冲的器具，总之我踏上了精品咖啡之旅。以前会比较排斥黑咖啡的苦涩，更喜欢喝拿铁，但是自从自己开始冲咖啡以来，90%的时候我都在喝黑咖啡。而且也知道了咖啡不止只有苦的，更多的时候都是酸味。开始尝试各个不同地区咖啡豆的味道，了解采摘清洗与烘焙的原理，各种冲泡手法的差异，体会不同的文化。</p>

	  	<h3>电影与写作</h3>
	  	<p>即使在最后选择了理工科，当作家的梦想还是深深刻在我的骨子里，因为这是一件真正能让我感到快乐和宁静的事情。我也被电影这种艺术形式所深深吸引，从高二开始到现在，一直都没中断过看电影的节奏，它们改变了我很多，也让我成长了很多。我享受与朋友们一起去电影院看大片的感觉，也享受在家里找一部小众的片子独自欣赏到夜深的感觉。</p>

	  	<p>有了自己的选择，需要的就是坚持并且不断提高自己的能力，直到达到目标。我知道自己还有很多不足，甚至有些坏习惯一直在我追求梦想的路上阻碍我，比如焦虑过了头就会感到绝望，对一些及时的诱惑无法抗拒而浪费了很多时间，与别人交流的少了些，没有多问问题，但是还好我还是一直在进步的，不管从别人看待我的角度还是我自己审视自己的角度。</p>

	  	<h3>我的技能 Skill set:</h3>
	  	<strong>主要开发语言、工具与框架 Programming languages, tools and frameworks:</strong>
	  	<ul>
	  		<li>Java</li>
	  		<li>Python</li>
	  		<li>Ruby on Rails</li>
	  		<li>Matlab</li>
	  		<li>HTML</li>
	  		<li>JavaScript</li>
	  		<li>MySQL</li>
	  		<li>Git</li>
	  		<li>Heroku</li>
	  	</ul>

		<strong>语言 Languages：</strong>
	  	<ul>
	  		<li>Chinese</li>
	  		<li>English</li>
	  	</ul>
	  	
	  </section>
	  <footer>
	  </footer>
</div>