<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'categories' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
	  	<h2>Some of my projects...</h2>
        <br>
        <h3>1. Shopping Website</h3>
        <ul><li>Ruby on Rails</li></ul>
        <br>
        <h3>2. Expression Calculator</h3>
        <ul><li>Android</li></ul>
        <br>
        <h3>3. Facebook Messenger Bot</h3>
        <ul><li>Go</li></ul>
        <br>
        <h3>4. CPU simulator</h3>
        <ul><li>Java</li></ul>
        <br>
	  </section>
	  <footer>
	  </footer>
</div>