<div class="wrapper">
      <header>
        <h1 class="view"><%= link_to "Iris Gou | 无线充电", welcome_index_path %></h1>
        <%= link_to image_tag("rainbow.jpg", :class => "pic"), image_path("rainbow.jpg") %>
        <h2>Welcome to my blog</h2>
        <br>
        <p class="view"><%= link_to 'About me', controller: 'self' %></p>
        <p class="view"><%= link_to 'All Articles', controller: 'articles' %></p>
        <p class="view"><%= link_to 'Category', controller: 'categories' %></p>
        <p class="view"><%= link_to 'Projects', controller: 'resume' %></p>
        <p class="view"><%= link_to 'Photos', controller: 'photos' %></p>
	  </header>
	  <section>
        <h2>Photos...</h2>
        <h3>风景</h3>
	  	<%= link_to image_tag("tailand.jpg", :class => "pic"), image_path("tailand.jpg") %>
        <p>拍摄于泰国芭提雅。</p>
        <%= link_to image_tag("sakura1.jpg", :class => "pic"), image_path("sakura1.jpg") %>
        <p>拍摄于美国华盛顿潮汐湖。</p>
        <%= link_to image_tag("sakura2.jpg", :class => "pic"), image_path("sakura2.jpg") %>
        <p>拍摄于美国华盛顿潮汐湖。</p>
        <br>

        <h3>人像</h3>
        <%= link_to image_tag("golden_bridge.jpg", :class => "pic"), image_path("golden_bridge.jpg") %>
        <p>拍摄于美国旧金山金门大桥。</p>
        <%= link_to image_tag("georgetown.jpg", :class => "pic"), image_path("georgetown.jpg") %>
        <p>拍摄于美国华盛顿乔治城。</p>
        <%= link_to image_tag("cancun.jpg", :class => "pic"), image_path("cancun.jpg") %>
        <p>拍摄于墨西哥坎昆加勒比海。</p>
        <%= link_to image_tag("birthday1.jpg", :class => "pic"), image_path("birthday1.jpg") %>
        <p>拍摄于美国华盛顿海军纪念碑。</p>
        <%= link_to image_tag("birthday2.jpg", :class => "pic"), image_path("birthday2.jpg") %>
        <p>拍摄于美国华盛顿潮汐湖。</p>
	  </section>
	  <footer>
	  </footer>
</div>